# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# tool
.idea

# nodejs
/node_modules

# next build
/.next/

# next export
#/out/

# other's
_temp/*
!_temp/.gitkeep
